/* Base CSS start */

* {
	margin: 0;
	padding: 0;
}

.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
	border: none;
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html,
body {height: 100%;}
body {
    overflow-x: hidden;
  max-width: 100%;
}

li {
	list-style: none;
}

a {
    text-decoration: none;
}

a:hover { text-decoration: none }

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
/* Base CSS end */


/* preloader css start */
body.preloader_active {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}
#preloader {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #FFFFFF;
	content: "";
	z-index: 999;
}
.spiner_preloader {
	position: absolute;
	height: 200px;
	width: 200px;
	left: 50%;
	top: 50%;
	background: url(assets/img/Pacman.gif) no-repeat scroll center center;
	display: block;
	content: "";
	margin-left: -100px;
	margin-top: -100px;
}

/* preloader css end */

/* Header css start */

.header_padding {
	padding: 50px 0;
}

/* Header css end */

/* Main menu css start*/

.main_menu_bg {
	background: #0069A8;	
}

.main_menu ul.nav {
	margin: 0;
	padding: 0;
}

.logo_left {
  color: #000;
  float: none;
  font-size: 32px;  
}

.main_menu ul.nav li {
	display: inline-block;
	position: relative;
}

.main_menu ul.nav li a {
	display: inline-block;
	padding: 15px;
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 18px;
}

.main_menu ul.nav li ul {
  background: #0069A8 none repeat scroll 0 0;
  left: -9999px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 57px;
  width: 200px;
  z-index: 999;
}

.main_menu ul.nav li:hover ul {
	left: 0;
}

.main_menu ul.nav li ul li {
	display: block;
}

.main_menu ul.nav li ul li a {
  border-bottom: 1px solid #fff;
  display: block;
}

.main_menu ul.nav li ul li ul {
	display: none;
}

.main_menu ul.nav li ul li:hover ul {
	display: block;
	left: 200px;
	top: 0;
}

.main_menu ul.nav li:hover a {
	color: #40B8FF;
}

.main_menu ul.nav li:hover ul li a {
	color: #FFFFFF;
	background: #ECB8B9;		
}

.main_menu ul.nav li:hover ul li a:hover {
	color: #FFFFFF;
	background: #0069A8;	
}

.main_menu ul.nav ul li:hover a {
	color: #FFFFFF;
	background: #59FC52;	
}

.main_menu ul.nav ul li:hover ul li a {
	background: #59FC52;
	color: #FFFFFF;
}
/* Main menu css end*/


/* Slider area css start */

#nivoSlider,#nivoSlider img {  width: 100%;  height: auto !important}
.slider-wrapper { width: 100%;margin: 0 auto;}
.nivo-caption {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #fff;
  font-size: 22px;
  left: 50%;
  text-align: center;
  top: 48%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.slider_text {
    text-transform: uppercase;
    font-size: 42px;
    color: darkorange;
}

.slider_button_1 {
  color: #FFFFFF;
  border-radius: 0;
  border: 1px solid #FFFFFF;
  padding: 10px 15px;
  text-transform: uppercase;
}

.slider_button_1:hover {
  background: #0069A8;
}


/*#nivoSlider, #nivoSlider img{width:100%;height:auto !important}

.slider-wrapper { 
	width: 100%;    
	margin: 0 auto;    
}

.nivo-caption {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #fff;
  font-size: 22px;
  left: 50%;
  text-align: center;
  top: 52%;
  transform: translate(-50%, -50%);
  width: 50%;
}



.slider_button_1 {
	color: #FFFFFF;		
	border-radius: 0;
	border: 1px solid #FFFFFF;
	padding: 10px 15px;
	text-transform: uppercase;    
}

.slider_button_1:hover {
	background: #0069A8;
}
*/
/* Slider area css end */



/* Slider under area start */

.btn.btn-primary {    
    border-radius: 0;
    text-transform: uppercase;
    padding-right: 15px;
    padding-left: 15px;
}
.btn.btn-primary:hover {
    background: none;
    color: #000;
	border: 1px solid #000;
}

.right_side_p_2 {
  font-size: 16px;
}

/* Slider under area end */



/* image gallery start */

.padding_bottom {
  padding-bottom: 70px;
}

/* image gallery end */



/* parallax area start */

.parallax_bg {
  background: rgba(0, 0, 0, 0) url("assets/img/corinne-kutz-211251.jpg");  
  background-size: cover;  
  overflow: auto;
  height: 100%;
  min-height: 100%;
}

.parallax {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 100px;
  margin-top: 100px;  
}

.parallax_text {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parallax_text > p {
    font-size: 20px;
}

/* parallax area end */


/* card section start */

.card {
  border: medium none;
  float: left;
  padding-bottom: 50px;
}

.card-body em {
  font-size: 30px;
}

.card-text {
  font-size: 18px;
  margin-top: 32px;
}

.card_title.text-center {
  margin-bottom: 60px;
}

.vertical_line {
	width: 1px;
	background: #333333;
	height: 10px;
}
/* card section end */



/* parallax 2 start */

.parallax_bg_2 {
  background: rgba(0, 0, 0, 0) url("assets/img/image4.jpg");
  background-size: cover;  
  overflow: auto;  
  min-height: 250px;
}

.parallax_2 {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;  
  margin-top: 100px;  
}

.parallax_text_2 {
  position: absolute;
  top: 50%;
  left: 35%;  
  transform: translate(-50%, -50%)
}

.parallax_text_2 em {
  font-size: 28px;
}
/* parallax 2 end */

/* Footer top area start */

#footer_top {
  background: #1A1A1A none repeat scroll 0 0;
  padding-top: 70px;
  padding-bottom: 50px;
  color: #fff;
}

#footer_top.col-sm-3 {
	padding-right: 20px;
}

.icons1 {
  background: #fff none repeat scroll 0 0;
  color: #0a0a0a;  
  opacity: 0.53;
  padding: 10px 15px;  
}

.icons1:hover {	
	background: #3B5998 none repeat scroll 0 0;
    color: #FFFFFF;
	padding: 10px 15px;	
}

.icons2 {
  background: #fff none repeat scroll 0 0;
  color: #0a0a0a;  
  opacity: 0.53;
  padding: 10px 15px;
}

.icons2:hover {	
	background: #1EA1F3 none repeat scroll 0 0;
    color: #FFFFFF;
	padding: 10px 15px;	
}

.icons3 {
  background: #fff none repeat scroll 0 0;
  color: #0a0a0a;
  opacity: 0.53;
  padding: 10px 15px;
}

.icons3:hover {	
	background: #007BB6 none repeat scroll 0 0;
    color: #FFFFFF;
	padding: 10px 15px;	
}

.icons4 {
  background: #fff none repeat scroll 0 0;
  color: #0a0a0a;  
  opacity: 0.53;
  padding: 10px 15px;
}

.icons4:hover {	
	background: #B21773 none repeat scroll 0 0;
    color: #FFFFFF;
	padding: 10px 15px;	
}

hr {
    background: #8a8a8a none repeat scroll 0 0;
}

input[type="text"] {
	border-radius: 0;
	background: #333333;
	border: 0;
	color: #FFFFFF;
}

input[type="email"] {
	border-radius: 0;
	background: #333333;
	border: 0;
	color: #FFFFFF;
}

.submit{
	background: #40B8FF;
}

.btn.btn-primary.submit:hover {
	color: #FFFFFF;
	border: 1px solid #333333;
}

/* Footer top area end */


/* footer area start */

.left_content {
    float: left;
}

.right_content {
    float: right;
}

#footer_area {
	background: #222222;
	color: #FFFFFF;				
}

/* footer area end */


/* scroll back to top */
.back_to_top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: aqua;
    padding: 15px;    
    color: #fff;
    font-size: 20px;
}