/*		Medium Layout: 1200px.       */

.column {
		width: 800px;
	}
	.slicknav_menu {
	display: none;
    }
	.nav {
		display: block;
	}
	


/*		Tablet Layout: 768px.       */


@media only screen and (min-width: 768px) and (max-width: 991px) {
	.column {
		width: 750px;
	}
	.slicknav_menu {
	display: none;
    }
	.nav {
		display: block;
	}

}



/*		Mobile Layout: 320px.         */

@media only screen and (max-width: 767px) {
	
	.column {
		width: 300px;
	}
	.slicknav_menu {
	display: block;
    }	
	.nav {
		display: none;
	}
	
	.parallax_text_2 em.responsive_text {
        font-size: 22px;
    }
	
	
.logo_left.responsive_text_header.ml-3.wow.hinge > em {
    margin-left: -16px;
}


.col-sm-12.col-12.text-center.card_responsive_margin_bottom {
    margin-bottom: -72px;
}

.footer_responsive_text_margin {
    margin-bottom: -20px;
}
	
	
.footer_above_responsive_text {
    margin-top: 50px;
}


.row.responsive_bottom_margin {
    margin-bottom: -90px;
}
    

.back_to_top.responsive_design {  
  bottom: 40px;  
  font-size: 12px;
  padding: 11px;  
  right: 8px;
}    


.right_content.pt-3.responsive_right {
    float: left;
}

    h2.slider_text.responsive_slider_text {
        font-size: 15px;
    }    
	
    .responsive_slider_p{
        display: none;
    }
    
    .responsive_button {        
        font-size: 10px;        
    }   
        
/*		Wide Mobile Layout: 480px.        */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.column {
		width: 450px;
	}
	.slicknav_menu {
	display: block;
    }	
	.nav {
		display: none;
	}
	
}



/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	body {
	
	}
	
}
    